In [1]:
import pandas as pd

# Deliverable 1A

In [2]:
begInv = pd.read_csv("BegInvFINAL12-31-16Sample.csv")

In [3]:
begInv.head(2)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2016-01-01

In [4]:
begInv = begInv.rename(columns = {'onHand':'01_01_2016_Qty'})
begInv.head(2)

,InventoryId,Store,City,Brand,Description,Size,01_01_2016_Qty,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2016-01-01

In [5]:
begInv['InvCost01_01_2016'] = begInv['01_01_2016_Qty'] * begInv['Price']
begInv.head(2)

,InventoryId,Store,City,Brand,Description,Size,01_01_2016_Qty,Price,startDate,InvCost01_01_2016
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01,103.92
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2016-01-01,76.93

In [6]:
begInv_Store = begInv[['Store','01_01_2016_Qty','InvCost01_01_2016']].groupby('Store').sum()
begInv_Store.head(2)

       01_01_2016_Qty  InvCost01_01_2016
Store
1               49917          838079.59
2               52925          840452.20

In [7]:
begInv_Store.sort_values(by='InvCost01_01_2016',ascending=False).head(10)

       01_01_2016_Qty  InvCost01_01_2016
Store
34             153852         3291170.24
73             162551         3142497.36
67             158996         3079578.63
66             149314         2973033.90
76             140208         2952418.44
69             144255         2946726.65
38             114368         2232698.77
55             119641         2001263.66
50              94720         1649808.22
79              95330         1503149.48

# Deliverable 1B

In [8]:
begInv_Brand = begInv[['Brand','01_01_2016_Qty','InvCost01_01_2016']].groupby('Brand').sum()
begInv_Brand.head(2)

       01_01_2016_Qty  InvCost01_01_2016
Brand
58                281            3650.19
60                288            3165.12

In [9]:
begInv_Brand.sort_values(by='InvCost01_01_2016',ascending=False).head(10)

       01_01_2016_Qty  InvCost01_01_2016
Brand
3545            14499          463823.01
1233            12016          432455.84
8068            15341          383371.59
4261            15499          340823.01
3858            13649          327439.51
2753             4625          286703.75
8082             9287          278517.13
8680             7066          275503.34
2589             6766          270572.34
3876            14829          266773.71

# Deliverable 2A

In [10]:
endInv = pd.read_csv("EndInvFINAL12312016.csv")

In [11]:
endInv.head(2)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31

In [12]:
endInv = endInv.rename(columns = {'onHand':'12__31_2016_Qty'})
endInv.head(2)

,InventoryId,Store,City,Brand,Description,Size,12__31_2016_Qty,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31

In [13]:
endInv['InvCost12_31_2016'] = endInv['12__31_2016_Qty'] * endInv['Price']
endInv.head(2)

,InventoryId,Store,City,Brand,Description,Size,12__31_2016_Qty,Price,endDate,InvCost12_31_2016
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31,142.89
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31,258.93

In [14]:
endInv_Store = endInv[['Store','12__31_2016_Qty','InvCost12_31_2016']].groupby('Store').sum()
endInv_Store.head(2)

       12__31_2016_Qty  InvCost12_31_2016
Store
1                79827         1206845.93
2                56671          850884.06

In [15]:
begInv_Store.sort_values(by='InvCost01_01_2016',ascending=False).head(10)

       01_01_2016_Qty  InvCost01_01_2016
Store
34             153852         3291170.24
73             162551         3142497.36
67             158996         3079578.63
66             149314         2973033.90
76             140208         2952418.44
69             144255         2946726.65
38             114368         2232698.77
55             119641         2001263.66
50              94720         1649808.22
79              95330         1503149.48

# Deliverable 2B

In [16]:
endInv_Brand = endInv[['Brand','12__31_2016_Qty','InvCost12_31_2016']].groupby('Brand').sum()
endInv_Brand.head(2)

       12__31_2016_Qty  InvCost12_31_2016
Brand
58                 385            5001.15
60                 146            1604.54

In [17]:
endInv_Brand.sort_values(by='InvCost12_31_2016',ascending=False).head(10)

       12__31_2016_Qty  InvCost12_31_2016
Brand
1233             15047          526494.53
3545             16770          502932.30
2753              7849          470861.51
8068             15608          366631.92
3405             12268          355649.32
4261             16769          351981.31
2757             11603          336370.97
2589              7922          300956.78
1376             13180          276648.20
2585             10487          272557.13

# Deliverable 3

In [18]:
begInv.head(1)

,InventoryId,Store,City,Brand,Description,Size,01_01_2016_Qty,Price,startDate,InvCost01_01_2016
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01,103.92

In [19]:
begInv["Total$Value"] = (begInv["Price"]*begInv["01_01_2016_Qty"])

In [20]:
begInv[["01_01_2016_Qty","Total$Value"]]

        01_01_2016_Qty  Total$Value
0                    8       103.92
1                    7        76.93
2                    6       221.94
3                    3       116.97
4                    6       209.94
...                ...          ...
206524              13       298.87
206525              13       181.87
206526              19       455.81
206527              12      1739.88
206528              24      2879.76

[206529 rows x 2 columns]

In [21]:
endInv.head(1)

,InventoryId,Store,City,Brand,Description,Size,12__31_2016_Qty,Price,endDate,InvCost12_31_2016
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31,142.89

In [22]:
endInv["Total$Value"] = (endInv["Price"]*endInv["12__31_2016_Qty"])

In [23]:
endInv[["12__31_2016_Qty","Total$Value"]]

        12__31_2016_Qty  Total$Value
0                    11       142.89
1                     7       258.93
2                     7       272.93
3                     4       139.96
4                     7       104.93
...                 ...          ...
224484                3      1409.97
224485                3       404.97
224486                3       359.97
224487                3      1949.97
224488                2       239.98

[224489 rows x 2 columns]

In [24]:
Table1 = pd.merge(left = begInv, right = endInv, how = "outer", on = "InventoryId")
Table1.head(1)

,InventoryId,Store_x,City_x,Brand_x,Description_x,Size_x,01_01_2016_Qty,Price_x,startDate,InvCost01_01_2016,...,Store_y,City_y,Brand_y,Description_y,Size_y,12__31_2016_Qty,Price_y,endDate,InvCost12_31_2016,Total$Value_y
0,10_HORNSEY_1000,10.0,HORNSEY,1000.0,Goslings Dark'n Stormy VAP,750mL,1.0,14.99,2016-01-01,14.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
Table1 = Table1.rename(columns = {'01_01_2016_Qty':'Beginning Quantity'})
Table1 = Table1.rename(columns = {'Total$Value_x':'Beginning Total $'})
Table1 = Table1.rename(columns = {'12__31_2016_Qty':'Ending Quantity'})
Table1 = Table1.rename(columns = {'Total$Value_y':'Ending Total $'})

In [26]:
Table1[["InventoryId","Beginning Quantity","Beginning Total $","Ending Quantity","Ending Total $"]]

,InventoryId,Beginning Quantity,Beginning Total $,Ending Quantity,Ending Total $
0,10_HORNSEY_1000,1.0,14.99,NaN,NaN
1,10_HORNSEY_1001,11.0,65.89,0.0,0.00
2,10_HORNSEY_1003,NaN,NaN,73.0,1678.27
3,10_HORNSEY_1005,18.0,629.82,NaN,NaN
4,10_HORNSEY_10058,52.0,779.48,24.0,359.76
...,...,...,...,...,...
256037,9_BLACKPOOL_9388,7.0,167.93,4.0,95.96
256038,9_BLACKPOOL_942,NaN,NaN,2.0,123.98
256039,9_BLACKPOOL_966,8.0,167.92,9.0,188.91
256040,9_BLACKPOOL_984,23.0,597.77,5.0,129.95
256041,9_BLACKPOOL_999,0.0,0.00,NaN,NaN

# Deliverable 4A

In [27]:
Most_Sold = pd.read_csv("PurchasesFINAL12-31-16Sample.csv")
Most_Sold.head(1)

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2015-12-21,2016-01-02,2016-01-04,2016-02-16,35.71,6,214.26,1

In [28]:
Most_Sold1 = Most_Sold[['VendorNumber','VendorName','Dollars']].groupby(["VendorNumber", "VendorName"]).sum().sort_values(by="Dollars", ascending=False)
Most_Sold1.head(10)

                                              Dollars
VendorNumber VendorName
3960         DIAGEO NORTH AMERICA INC     21315299.75
4425         MARTIGNETTI COMPANIES        11709222.19
12546        JIM BEAM BRANDS COMPANY      10232521.65
17035        PERNOD RICARD USA            10224899.93
480          BACARDI USA INC               7420630.63
1392         CONSTELLATION BRANDS INC      6584032.72
1128         BROWN-FORMAN CORP             5719375.62
9165         ULTRA BEVERAGE COMPANY LLP    5545766.29
3252         E & J GALLO WINERY            5177067.61
9552         M S WALKER INC                4647908.17

# Deliverable 4B

In [29]:
Most_Freight = pd.read_csv("InvoicePurchases12312016.csv")
Most_Freight.head(1)

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2016-01-04,8124,2015-12-21,2016-02-16,6,214.26,3.47,NaN

In [30]:
Most_Freight1 = Most_Freight[["VendorNumber", "VendorName","Freight"]].groupby(["VendorNumber", "VendorName"]).sum().sort_values(by="Freight", ascending=False)
Most_Freight1.head(10)

                                            Freight
VendorNumber VendorName
3960         DIAGEO NORTH AMERICA INC     257032.07
4425         MARTIGNETTI COMPANIES        144719.92
12546        JIM BEAM BRANDS COMPANY      123880.97
17035        PERNOD RICARD USA            123780.22
480          BACARDI USA INC               89286.27
1392         CONSTELLATION BRANDS INC      79528.99
1128         BROWN-FORMAN CORP             68601.68
9165         ULTRA BEVERAGE COMPANY LLP    68054.70
3252         E & J GALLO WINERY            61966.91
9552         M S WALKER INC                55551.82

# Deliverable 4C

In [31]:
Freight_Purchase = pd.merge(left = Most_Sold1, right = Most_Freight1, how = "inner", on = ["VendorName"])
Freight_Purchase.head(1)

                                 Dollars    Freight
VendorName
DIAGEO NORTH AMERICA INC     21315299.75  257032.07

In [32]:
Freight_Purchase["Freight per $ Purchased"] = (Freight_Purchase["Dollars"]/Freight_Purchase["Freight"])
Freight_Purchase.head(10)

                                 Dollars    Freight  Freight per $ Purchased
VendorName
DIAGEO NORTH AMERICA INC     21315299.75  257032.07                82.928561
MARTIGNETTI COMPANIES        11709222.19  144719.92                80.909540
JIM BEAM BRANDS COMPANY      10232521.65  123880.97                82.599625
PERNOD RICARD USA            10224899.93  123780.22                82.605282
BACARDI USA INC               7420630.63   89286.27                83.110546
CONSTELLATION BRANDS INC      6584032.72   79528.99                82.787833
BROWN-FORMAN CORP             5719375.62   68601.68                83.370781
ULTRA BEVERAGE COMPANY LLP    5545766.29   68054.70                81.489835
E & J GALLO WINERY            5177067.61   61966.91                83.545680
M S WALKER INC                4647908.17   55551.82                83.667973

In [33]:
Freight_Purchase1 = Freight_Purchase[Freight_Purchase["Dollars"] > 250000].sort_values(by="Freight per $ Purchased", ascending=False)
Freight_Purchase1.head(10)

                                Dollars   Freight  Freight per $ Purchased
VendorName
SIDNEY FRANK IMPORTING CO     743030.40   8549.55                86.908714
TREASURY WINE ESTATES        1269997.73  14836.57                85.599147
LUXCO INC                     878296.35  10261.60                85.590585
DISARONNO INTERNATIONAL LLC   498383.55   5861.03                85.033441
PALM BAY INTERNATIONAL INC   1151691.22  13605.41                84.649505
CAMPARI AMERICA              1774103.48  20964.81                84.622922
STOLI GROUP,(USA) LLC        1566222.85  18544.49                84.457586
SHAW ROSS INT L IMP LTD       265556.41   3151.92                84.252268
CASTLE BRANDS CORP.           715833.33   8497.59                84.239570
FREDERICK WILDMAN & SONS      336914.82   3999.93                84.230179

In [34]:
Freight_Purchase1.tail(5)

                                 Dollars    Freight  Freight per $ Purchased
VendorName
BANFI PRODUCTS CORP            692669.85    8510.41                81.390891
STATE WINE & SPIRITS           650999.58    8014.98                81.222858
MARTIGNETTI COMPANIES        11709222.19  144719.92                80.909540
KOBRAND CORPORATION            733971.86    9139.38                80.308715
DIAGEO CHATEAU ESTATE WINES    573875.03    7259.75                79.048869

4c filter - above_35 = titanic[titanic["Age"] > 35]

4d filter - class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]

# Deliverable 4D

In [35]:
Freight_Purchase2 = Most_Freight[Most_Freight["Freight"]>100]
Freight_Purchase2 = Freight_Purchase2[Freight_Purchase2["Quantity"]<=1000]

In [36]:
Freight_Purchase2 = Freight_Purchase2.groupby(["VendorNumber","VendorName"])[["Freight","Dollars","Quantity"]].sum().sort_values(by="Freight", ascending=False)

In [37]:
Freight_Purchase2[["Freight"]].head()

                                          Freight
VendorNumber VendorName
2561         EDRINGTON AMERICAS           2944.67
8664         STOLI GROUP,(USA) LLC         349.02
7239         REMY COINTREAU USA INC        348.07
653          STATE WINE & SPIRITS          303.70
6785         PALM BAY INTERNATIONAL INC    242.73

# Deliverable 4E

In [38]:
Freight_Purchase2["Freight per $ Purchased"] = (Freight_Purchase2["Dollars"]/Freight_Purchase2["Freight"])
Freight_Purchase2.head(10)

,,Freight,Dollars,Quantity,Freight per $ Purchased
VendorNumber,VendorName,,,,
2561,EDRINGTON AMERICAS,2944.67,570627.52,18120,193.783181
8664,"STOLI GROUP,(USA) LLC",349.02,14299.98,975,40.971807
7239,REMY COINTREAU USA INC,348.07,7515.38,382,21.591576
653,STATE WINE & SPIRITS,303.70,5544.89,541,18.257787
6785,PALM BAY INTERNATIONAL INC,242.73,5533.18,715,22.795617
10000,MAJESTIC FINE WINES,218.05,7234.88,875,33.179913
3924,HEAVEN HILL DISTILLERIES,200.02,7079.02,818,35.391561
8352,LUXCO INC,196.61,6139.47,819,31.226642
4692,KOBRAND CORPORATION,185.93,5336.48,427,28.701554
1485,CASTLE BRANDS CORP.,179.26,5420.41,320,30.237699

In [39]:
Freight_Purchase2.sort_values(by="Freight per $ Purchased", ascending=False)

,,Freight,Dollars,Quantity,Freight per $ Purchased
VendorNumber,VendorName,,,,
98450,Serralles Usa LLC,122.24,27163.64,733,222.215641
2561,EDRINGTON AMERICAS,2944.67,570627.52,18120,193.783181
4848,LAIRD & CO,100.37,18937.82,982,188.680084
1273,CALEDONIA SPIRITS INC,109.80,20334.21,576,185.193169
2242,DELICATO VINEYARDS INC,127.05,6646.46,808,52.313735
9625,WESTERN SPIRITS BEVERAGE CO,169.46,8657.44,795,51.088398
8664,"STOLI GROUP,(USA) LLC",349.02,14299.98,975,40.971807
3924,HEAVEN HILL DISTILLERIES,200.02,7079.02,818,35.391561
3089,SIDNEY FRANK IMPORTING CO,133.83,4443.66,379,33.203766
10000,MAJESTIC FINE WINES,218.05,7234.88,875,33.179913
8352,LUXCO INC,196.61,6139.47,819,31.226642
1485,CASTLE BRANDS CORP.,179.26,5420.41,320,30.237699
4692,KOBRAND CORPORATION,185.93,5336.48,427,28.701554
6213,MHW LTD,177.50,4821.83,412,27.165239
2555,DISARONNO INTERNATIONAL LLC,146.86,3506.41,385,23.875868
6785,PALM BAY INTERNATIONAL INC,242.73,5533.18,715,22.795617
7239,REMY COINTREAU USA INC,348.07,7515.38,382,21.591576
653,STATE WINE & SPIRITS,303.70,5544.89,541,18.257787

The freight per dollar purchased is far less uniform and offers a wider spread of values. When transactions were over $100 people were spending either a lot more for their freight or a lot less than someone who's buying $250,000 worth of inventory.

# Deliverable 5

In [40]:
Volume_Sold = pd.read_csv("SalesFINAL12-31-16Sample.csv")
Volume_Sold.head()

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1009,1,1009,Rebel Yell Variety Pack,750mL 3 Pk,1,49.99,49.99,2016-01-02,750.0,1,0.79,8352,LUXCO INC
1,1_HARDERSFIELD_10238,1,10238,Layer Cake Primitivo Puglia,750mL,2,31.98,15.99,2016-01-02,750.0,2,0.22,4425,MARTIGNETTI COMPANIES
2,1_HARDERSFIELD_10239,1,10239,Cannonball Cab Svgn Cal,750mL,1,13.99,13.99,2016-01-02,750.0,2,0.11,4425,MARTIGNETTI COMPANIES
3,1_HARDERSFIELD_10266,1,10266,Klinker Brick Old Vine Znfdl,750mL,1,16.99,16.99,2016-01-09,750.0,2,0.11,9552,M S WALKER INC
4,1_HARDERSFIELD_1029,1,1029,Fulton's Harvest Apple Pie L,750mL,1,9.99,9.99,2016-01-03,750.0,1,0.79,3924,HEAVEN HILL DISTILLERIES

In [41]:
Volume_Cost = pd.read_csv("PurchasesFINAL12-31-16Sample.csv")
Volume_Cost.head()

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2015-12-21,2016-01-02,2016-01-04,2016-02-16,35.71,6,214.26,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1
2,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1
3,5_SUTTON_3348,5,3348,Bombay Sapphire Gin,1.75L,480,BACARDI USA INC,8106,2015-12-20,2016-01-02,2016-01-12,2016-02-05,22.38,6,134.28,1
4,30_CULCHETH_4903,30,4903,Bacardi Superior Rum,200mL,480,BACARDI USA INC,8106,2015-12-20,2016-01-01,2016-01-12,2016-02-05,2.87,48,137.76,1

In [42]:
Volume_Sold["Sold per ML"] = (Volume_Sold["SalesPrice"] / Volume_Sold["Volume"])

In [43]:
Volume_Sold[["Description","Volume","SalesPrice","Sold per ML"]].sort_values(by="Sold per ML", ascending=False)

                         Description  Volume  SalesPrice  Sold per ML
428327       Hennessy Richard Cognac   750.0     4696.99     6.262653
522926    Laphroaig 32 Yr Old Scotch   750.0     1199.99     1.599987
848847        Johnnie Walker Odyssey   750.0      949.99     1.266653
356400        Johnnie Walker Odyssey   750.0      949.99     1.266653
703168  Ch Haut-Brion Blanc 09 Pessc   750.0      899.99     1.199987
...                              ...     ...         ...          ...
64063    Livingston Clrs Rhine Calif  3000.0        6.49     0.002163
64062    Livingston Clrs Rhine Calif  3000.0        6.49     0.002163
484715             Ciroc Peach Vodka  1750.0        0.00     0.000000
514051             Ciroc Peach Vodka  1750.0        0.00     0.000000
534680             Ciroc Peach Vodka  1750.0        0.00     0.000000

[1000000 rows x 4 columns]

In [44]:
Sold_Cost = pd.merge(left = Volume_Sold, right = Volume_Cost, how = "inner", on =["Description"])

MemoryError: Unable to allocate 8.57 GiB for an array with shape (1149717109,) and data type int64

In [ ]:
Sold_Cost[["Description","Volume","SalesPrice","Sold per ML","PurchasePrice"]].sort_values(by="Sold per ML", ascending=False)