# Import PANDAS Library

Notice that we are using pd as an abbreviation so each time we want to use the PANDAS library, we can simply type pd instead of pandas.

In [91]:
import pandas as pd

# Import Dataset (either full dataset or simplified)

You can use either set of datafiles (full or simplified). In the past some students' computers could not handle the full dataset. If you worry that your computer will not handle the full dataset (or if you find your code is running very slow), use the simplified version. 

The simplified version was created by taking a sample of the full data; hence the simplified files have "Sample" added to the end of the file names. Some files were not large to begin with and didn't need to be reduced. Those files do not have Sample added to the end of the file name.

You will want to replace the begining of the address below (i.e., everything before OneDrive - Oregon State University/)

## Deliverable 1A and 1B

In [92]:
begInv = pd.read_csv("BegInvFINAL12-31-16Sample.csv")

I'm aware you recomend that we just change the name of the user, but I couldn't get the code running unless I saved the file to my desktop.

In [93]:
begInv.head(2)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2016-01-01

In [94]:
df = pd.DataFrame(begInv)

# Convert startDate to datetime
df['startDate'] = pd.to_datetime(df['startDate'])

# Calculate total $ value of inventory for each store
df['TotalValue'] = df['onHand'] * df['Price']

# Group by Store and sum the total value
store_inventory = df.groupby('Store').agg({'onHand': 'sum', 'TotalValue': 'sum'}).reset_index()

# Select the top 10 stores holding the highest $ value of inventory at the start of the year
top_10_stores = store_inventory.nlargest(10, 'TotalValue')

print("Top 10 Stores Holding the Highest $ Value of Inventory at the Start of the Year:")
print(top_10_stores)

Top 10 Stores Holding the Highest $ Value of Inventory at the Start of the Year:
    Store  onHand  TotalValue
33     34  153852  3291170.24
72     73  162551  3142497.36
66     67  158996  3079578.63
65     66  149314  2973033.90
75     76  140208  2952418.44
68     69  144255  2946726.65
37     38  114368  2232698.77
54     55  119641  2001263.66
49     50   94720  1649808.22
78     79   95330  1503149.48

In [95]:
df = pd.DataFrame(begInv)

# Convert startDate to datetime
df['startDate'] = pd.to_datetime(df['startDate'])

# Calculate total $ value of inventory for each store
df['TotalValue'] = df['onHand'] * df['Price']

# Group by Brand and sum the total value
store_inventory = df.groupby('Brand').agg({'onHand': 'sum', 'TotalValue': 'sum'}).reset_index()

# Select the top 10 stores holding the highest $ value of inventory at the start of the year
top_10_stores = store_inventory.nlargest(10, 'TotalValue')

print("Top 10 Stores Holding the Highest $ Value of Inventory at the Start of the Year:")
print(top_10_stores)

Top 10 Stores Holding the Highest $ Value of Inventory at the Start of the Year:
      Brand  onHand  TotalValue
1389   3545   14499   463823.01
493    1233   12016   432455.84
2635   8068   15341   383371.59
1748   4261   15499   340823.01
1573   3858   13649   327439.51
986    2753    4625   286703.75
2641   8082    9287   278517.13
2864   8680    7066   275503.34
888    2589    6766   270572.34
1580   3876   14829   266773.71

## Deliverable 2A and 2B

In [96]:
endInv = pd.read_csv("EndInvFINAL12-31-16Sample.csv")

In [97]:
endInv.head(2)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31

In [98]:
df = pd.DataFrame(endInv)

# Convert endDate to endtime
df['endDate'] = pd.to_datetime(df['endDate'])

# Calculate total $ value of inventory for each store
df['TotalValue'] = df['onHand'] * df['Price']

# Group by Store and sum the total value
store_inventory = df.groupby('Store').agg({'onHand': 'sum', 'TotalValue': 'sum'}).reset_index()

# Select the top 10 stores holding the highest $ value of inventory at the start of the year
top_10_stores = store_inventory.nlargest(10, 'TotalValue')

print("Top 10 Stores Holding the Highest $ Value of Inventory at the Start of the Year:")
print(top_10_stores)

Top 10 Stores Holding the Highest $ Value of Inventory at the Start of the Year:
    Store  onHand  TotalValue
49     50  260717  4887260.68
72     73  164589  3254662.81
66     67  163765  3076114.82
33     34  145829  3074616.75
75     76  143866  2975945.18
68     69  150848  2968678.82
65     66  144579  2860504.99
73     74  166015  2803645.13
37     38  129397  2463906.85
54     55  125584  2234836.35

In [99]:
df = pd.DataFrame(endInv)

# Convert endDate to endtime
df['endDate'] = pd.to_datetime(df['endDate'])

# Calculate total $ value of inventory for each store
df['TotalValue'] = df['onHand'] * df['Price']

# Group by Brand and sum the total value
store_inventory = df.groupby('Brand').agg({'onHand': 'sum', 'TotalValue': 'sum'}).reset_index()

# Select the top 10 stores holding the highest $ value of inventory at the start of the year
top_10_stores = store_inventory.nlargest(10, 'TotalValue')

print("Top 10 Stores Holding the Highest $ Value of Inventory at the Start of the Year:")
print(top_10_stores)

Top 10 Stores Holding the Highest $ Value of Inventory at the Start of the Year:
      Brand  onHand  TotalValue
496    1233   15047   526494.53
1507   3545   16770   502932.30
1090   2753    7849   470861.51
2817   8068   15608   366631.92
1430   3405   12268   355649.32
1876   4261   16769   351981.31
1093   2757   11603   336370.97
991    2589    7922   300956.78
552    1376   13180   276648.20
988    2585   10487   272557.13

## Deliverable 3

In [100]:
# # Convert startDate to datetime
# df['startDate'] = pd.to_datetime(df['startDate'])

# # Calculate total $ value of inventory for each InventoryId
# df['TotalValue'] = df['onHand'] * df['Price']

# # Merge beginning and ending inventory balances
# inventory_balance = pd.merge(begInv[['InventoryId', 'onHand', 'TotalValue']], 
#                               endInv[['InventoryId', 'onHand', 'TotalValue']], 
#                               on='InventoryId', 
#                               suffixes=('_Beginning', '_Ending'))

# # Rename columns
# inventory_balance.columns = ['InventoryId', 'BOY16Qty', 'BOY16Value', 'EOY16Qty', 'EOY16Value']

# inventory_balance = inventory_balance.sort_values(by='EOY16Value', ascending=False).head()

# print("Inventory Balances:")
# print(inventory_balance)
# len(inventory_balance)

## Deliverable 4

In [101]:
purchases = pd.read_csv("PurchasesFINAL12-31-16Sample.csv")

df = pd.DataFrame(purchases)

# Group by VendorName and sum the Dollars
top_vendors = df.groupby('VendorNumber')['Dollars'].sum().reset_index()

# Sort the top_vendors by Dollars in descending order
top_vendors = top_vendors.sort_values(by='Dollars', ascending=False).head(10)

print("Top 10 Vendors based on Dollars Purchased:")
print(top_vendors)

Top 10 Vendors based on Dollars Purchased:
    VendorNumber      Dollars
39          3960  21315299.75
41          4425  11724670.82
94         12546  10232521.65
98         17035  10224899.93
7            480   7420630.63
16          1392   6584032.72
12          1128   5719375.62
79          9165   5545766.29
33          3252   5177067.61
82          9552   4647908.17

In [102]:
invoice = pd.read_csv("InvoicePurchases12-31-16Sample.csv")

df = pd.DataFrame(invoice)

# Filter vendors where Bibitor purchased at least $250,000 of inventory during 2016
vendor_totals = df.groupby('VendorName')['Dollars'].sum()
qualified_vendors = vendor_totals[vendor_totals >= 250000].index

# Filter dataframe based on qualified vendors
qualified_df = df[df['VendorName'].isin(qualified_vendors)]

# Calculate freight per $ purchased
qualified_df['Freight_per_$'] = (qualified_df['Freight'] / qualified_df['Dollars']).round(2)

# Calculate total freight paid
total_freight_paid = qualified_df.groupby('VendorName')['Freight'].sum().reset_index()
qualified_df = pd.merge(qualified_df, total_freight_paid, on='VendorName', suffixes=('', '_Total'))
qualified_df.rename(columns={'Freight_Total': 'Total_Freight_Paid'}, inplace=True)

# Sort by freight per $ purchased
sorted_df = qualified_df.sort_values(by='Freight_per_$', ascending=False)

# Get the top 10 vendors with the highest freight per $ purchased
top_10_highest = sorted_df.head(10)

# Get the top 5 vendors with the lowest freight per $ purchased
top_5_lowest = sorted_df.tail(5)

print("Top 10 Vendors with the Highest Per $ Freight:")
print(top_10_highest[['VendorName', 'Freight_per_$', 'Total_Freight_Paid']])

print("\nTop 5 Vendors with the Lowest Per $ Freight:")
print(top_5_lowest[['VendorName', 'Freight_per_$', 'Total_Freight_Paid']])

Top 10 Vendors with the Highest Per $ Freight:
                       VendorName  Freight_per_$  Total_Freight_Paid
165   CALEDONIA SPIRITS INC                 0.11             1319.77
329   CHARLES JACQUIN ET CIE INC            0.05             1675.39
877   FLAG HILL WINERY & VINEYARD           0.05             1573.31
1427  MCCORMICK DISTILLING CO               0.05             1567.85
1975  REMY COINTREAU USA INC                0.05            16978.67
2305      STATE WINE & SPIRITS              0.05             8014.98
1810  PHILLIPS PRODUCTS CO.                 0.04             2211.83
1645  PALM BAY INTERNATIONAL INC            0.04            13605.41
2690  VINILANDIA USA                        0.04             2802.64
659   DISARONNO INTERNATIONAL LLC           0.04             5861.03

Top 5 Vendors with the Lowest Per $ Freight:
                       VendorName  Freight_per_$  Total_Freight_Paid
620   DIAGEO NORTH AMERICA INC               0.0           257032.07
1699  PALM BAY INTERNATIONAL INC             0.0            13605.41
1698  PALM BAY INTERNATIONAL INC             0.0            13605.41
1697  PALM BAY INTERNATIONAL INC             0.0            13605.41
1455  MCCORMICK DISTILLING CO                0.0             1567.85

C:\Users\medic\AppData\Local\Temp\ipykernel_23164\2802084317.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_df['Freight_per_$'] = (qualified_df['Freight'] / qualified_df['Dollars']).round(2)

In [103]:
# Identify transactions where the freight cost was greater than $100 and the units were less than or equal to 1,000 units
filtered_df = df[(df['Freight'] > 100) & (df['Quantity'] <= 1000)]

# Find which vendors had the highest freight cost under these conditions
highest_freight_vendors = filtered_df.groupby('VendorName')['Freight'].sum().reset_index()
highest_freight_vendors = highest_freight_vendors.sort_values(by='Freight', ascending=False).head(5)

print("Vendors with the Highest Freight Cost (Freight > $100 and Units <= 1000):")
print(highest_freight_vendors)

Vendors with the Highest Freight Cost (Freight > $100 and Units <= 1000):
                     VendorName  Freight
4   EDRINGTON AMERICAS           2944.67
15  STOLI GROUP,(USA) LLC         349.02
12  REMY COINTREAU USA INC        348.07
14      STATE WINE & SPIRITS      303.70
11  PALM BAY INTERNATIONAL INC    242.73

In [104]:
# Calculate total sales for each vendor
vendor_sales = df.groupby('VendorName')['Dollars'].sum().reset_index()

# Define a function to calculate the freight per unit
def freight_per_unit(x):
    return x['Freight'] / x['Quantity']

# Apply the function to the dataframe
df['Freight_per_Unit'] = df.apply(freight_per_unit, axis=1)

# Calculate the average freight per unit
avg_freight_per_unit = df['Freight_per_Unit'].mean()

# Separate the dataframe into two groups: vendors with over $250,000 of sales and those below $250,000 of sales
df_over_250k = df[df['VendorName'].isin(vendor_sales[vendor_sales['Dollars'] >= 250000]['VendorName'])]
df_below_250k = df[df['VendorName'].isin(vendor_sales[vendor_sales['Dollars'] < 250000]['VendorName'])]

# Calculate freight per unit for each group
avg_freight_per_unit_over_250k = df_over_250k['Freight_per_Unit'].mean()
avg_freight_per_unit_below_250k = df_below_250k['Freight_per_Unit'].mean()

print("Average Freight Per Unit for Companies with Sales Over $250,000: ", round(avg_freight_per_unit_over_250k, 2))
print("Average Freight Per Unit for Companies with Sales Below $250,000: ", round(avg_freight_per_unit_below_250k, 2))
print("Overall Average Freight Per Unit: ", round(avg_freight_per_unit, 2))

Average Freight Per Unit for Companies with Sales Over $250,000:  0.06
Average Freight Per Unit for Companies with Sales Below $250,000:  0.08
Overall Average Freight Per Unit:  0.07

In [105]:
sales = pd.read_csv("SalesFINAL12-31-16Sample.csv")

df = pd.DataFrame(sales)

# Sort the DataFrame by SalesQuantity in descending order and get the top row
highest_sales_quantity = df.sort_values(by='SalesQuantity', ascending=False).head(10)

print("Item with the Highest Sales Quantity:")
print(highest_sales_quantity[['InventoryId', 'Brand', 'SalesQuantity', 'SalesPrice']])

Item with the Highest Sales Quantity:
                InventoryId  Brand  SalesQuantity  SalesPrice
986135   74_PAENTMARWY_8111   8111           1231        0.99
777280    61_AETHELNEY_4277   4277            841        4.49
544719    78_EASTHAVEN_4246   4246            721        5.49
831703      33_HORNSEY_5404   5404            720        5.49
879074    73_DONCASTER_3102   3102            560       16.99
533831   73_DONCASTER_20660  20660            552       11.99
510002  59_CLAETHORPES_5197   5197            505        8.99
352322     7_STANMORE_17094  17094            479       10.99
477255    32_MOUNTMEND_3851   3851            448       12.99
473286    27_MOUNTMEND_3858   3858            397       22.99

###an internal accountant might use this this calculation to recomend which brands increase purchases for.